/target

.idea/

Cargo.lock
top_0.01_pct
top_0.02_pct
traces

plots/output_pdfs/*.pdf
plots/system/out/*.pdf
plots/.ipynb_checkpoints
plots/*/.ipynb_checkpoints

*_mawi.sh
*_ouni.sh

*.pcap

./data/*
./results/*

models/viz/results
